
footer {
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border: 1px dotted #350404;
    margin-top: 10%;
    display: flex;
    // padding: 1rem;
    // .colophon {
    //     text-align: center;
    //     font-size: 0.8rem;
    //     a {
    //         color: #350404;
    //     }
    // }
    
}