
footer {
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border: 2px solid #ad0000;
    margin-top: 10%;
    display: flex;
    // padding: 1rem;
    // .colophon {
    //     text-align: center;
    //     font-size: 0.8rem;
    //     a {
    //         color: #350404;
    //     }
    // }
    
}
@media (prefers-color-scheme: dark) {
    footer {
        
        background-color: var(--secondary-color);
    }
    
}